#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh; /* Set height to 100vh */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Prevent overflow */
  align-items: center;

}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

li {
  list-style: none;
  align-self: self-start;
  text-align: left;
}

.absolute {
  position: absolute;
}

.card {
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #274141;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.showVal {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  font-size: large;
  font-weight: 600;
  color: #61dafbaa;
  transition: transform 0.3s ease-in-out;
}

.showVal:hover {
  transform: scale(1.2);
}
.dataList {
  padding-left: 2em;
  max-height: 50vh;
  overflow-y: auto;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.parent {
  flex: 1;
  border-radius: 8px;
  min-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.logger {
  flex: 1;
  overflow-y: auto;
  background-color: #274141;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  color: white;
  min-width: 80px; /* allow shrinking */
}

.logger h3 {
  margin-bottom: 1rem;
}

.logger ul {
  list-style: none;
  padding: 0;
}

.logger li {
  margin-bottom: 0.5rem;
  font-family: monospace;
}

